
/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;
}

body{
    height: 100vh;
}
header {
    background-color: #086494;
}
.section-header {
    background-color: #086494;
    color : white;
}
#logo-boutique {
    font-size: 1px;
}
.header-main {
    margin-top: 1%;
    padding-bottom: 1%;
}
.btn-custom {
    background-color: white; /* Fond blanc */
    color: black; /* Texte noir */
}
.logo-container {
    position: relative;
    width: auto;
    height: 25px;
}

/* ===== Logo Concentrique ===== */
.circle {
    position: absolute;
    border-radius: 50%;
}
.brand-wrap{
    margin: 5px;
}
.outer-circle {
    background-color: white; /* Couleur du cercle extérieur */
    border: 2px solid black; /* Bordure noire */
    width: 24px; /* Taille du cercle extérieur */
    height: 24px;
}
.inner-circle {
    background-color: white; /* Couleur du cercle intérieur */
    border: 2px solid black; /* Bordure noire */
    width: 20px; /* Taille du cercle intérieur */
    height: 20px;
    top: 2px; /* Ajustement de la position du cercle intérieur */
    left: 2px;
}
.middle-circle {
    background-color: black; /* Couleur du cercle du milieu */
    width: 14px; /* Taille du cercle du milieu */
    height: 14px;
    top: 5px; /* Ajustement de la position du cercle du milieu */
    left: 5px;
}
/* =====  ===== */

#sous-navbar {
    color :rgba(230, 188, 173, 0.02) !important;
    height: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* .mdp {
    color: rgb(95, 131, 159);
}

#registerTab, #loginTab {
    justify-content: right;
    align-items:flex-end;
    color: black; 
} */

.accueil {
    background-color : #f8f4f4;
}
.sous-accueil {
    height: 70px; padding-top: 20px; padding-bottom: 25px;
}
.fa-chevron-right {
    font-size:15px; margin-bottom:2px;
    color: #606c74;
}
a {
    text-decoration: none; color: inherit;
}
a:hover {
    color: inherit;
}
.one {
    color: #606c74;
}
.deux {
    color : #08a4fc;
}

/* ===== Couleur Orange ===== */
.orange{
    color:#ff6600;
}
.btn-orange {
    color: #fff;
    background-color: #ff6600; /* Couleur orange */
    border-color: #ff6600; /* Couleur de la bordure */
}
.btn-orange:hover {
    background-color: #cc5500; /* Couleur orange légèrement plus foncée au survol */
    border-color: #cc5500;
}
.custom-hr {
    border: none;
    height: 4px; /* Épaisseur de la ligne */
    background-image: linear-gradient(to right, white 50%, #ff6600 50%);
    position: relative;
}
.custom-hr::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 2px; /* Largeur de la division des couleurs */
    background-color: orange; /* Couleur de séparation */
    transform: translateX(-50%);
}
/* ===== ===== */

#cercle {
    background-color: rgba(40, 167, 69, 0.5);
    border : 4px solid green;
    margin-left: 170px;
}
.fas {
    color: green;
}

