
{% load static %}

{% block content %}

<style>
    .footer {
        padding-top: 40px;
        background-color: #191c1f;
        font-size: 12px;
    }
    .footer .hr {
        background-color: gray;
    }
    .footer .row {
        margin-bottom: 20px;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        color: #ADB7BC;
        font-size: 12px;
        font-family: "Public Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
    }
    .footer .row .footer_title {
        font-size: 10px;
        color: white;
        font-family: "Public Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
    .footer .row .contact ul {
        list-style-type: none;
    }
    .footer .row .contact ul li {
        white-space: normal;
    }
    .footer .row .populaire div {
        text-wrap: wrap;
    }
    .footer .row .populaire div span {
        box-sizing: border-box;
        display: inline-block;
        border: 0.5px solid gray;
        margin-bottom: 4px;
        color: white;
    }
    .footer .row .telechargement {
        color: white;
    }
    .footer .row .telechargement img {
        width: 50px;
        height: 50px;
    }

    .footer ul {
        list-style-type: none;
        padding-left: 0%;
    }
    .footer ul li {
        white-space: normal;
        list-style-type: none;
    }
    .footer ul li a {
        color: #ADB7BC;
        text-decoration: none;
    }
</style>

<section class="footer mt-5" style="padding-bottom: 42px; background-color: #191c1f;">
    <div class = 'row px-5'>
        <div class="col-6 col-md-4 col-lg-2 contact pe-0">
            <ul class="ps-0">
                <li class="d-flex align-items-center">
                    <img class='me-0 mb-1' src="{% static 'images/logo.png' %}" alt="logo" style='width:40px;height:40px;position:relative;left:-10px'>
                    <h6 class="text-light d-inline-block p-0 m-0" style="font-size: 18px !important;"><b>Boutique DIC1</b></h6>
                </li>
                <li>Assistant client :</li>
                <li><b style="color:white">775858575</b></li>
                <li>4517 Aloup Kagne.</li>
                <li>Sénégal, Thiès EPT</li>
                <li style="color:white">ept@ept.sn</li>
            </ul>
        </div>
        <div class="col-6 col-md-4  col-lg-2 categorie">
            <p style="text-transform: uppercase;" class="footer_title">Catégories supérieure</p>
            <ul>
                <li><a href="" class="footer_link">Ordinateur et ordinateur portable</a></li>
                <li><a href="" class="footer_link">Téléphone intelligent</a></li>
                <li><a href="" class="footer_link">Casque de musique</a></li>
                <li><a href="" class="footer_link" style="color: white;">Accesoires</a></li>
                <li><a href="" class="footer_link">Appareil photo et photo</a></li>
                <li><a href="" class="footer_link">Télévision et maison</a></li>
                <li><a href="" class="footer_link" style="color:#EBC80C;">Parcourir tous les produits <i class="fa-solid fa-arrow-right ms-1" style='cursor:pointer;'></i></a></li>
            </ul>
        </div>
        <div class="col-6 col-md-4  col-lg-2 liens">
            <p class="footer_title">LIENS RAPIDES</p>
            <ul>
                <li><a href="" class="footer_link">Acheter le produit</a></li>
                <li><a href="" class="footer_link">Panier</a></li>
                <li><a href="" class="footer_link">Liste des souhaits</a></li>
                <li><a href="" class="footer_link">Comparateur</a></li>
                <li><a href="" class="footer_link">Suivi de commandes</a></li>
                <li><a href="" class="footer_link">Aide Client</a></li>
                <li><a href="" class="footer_link">A propos de nous</a></li>
            </ul>
        </div>
        <div class="col-6 col-lg-2 telechargement">
            <p class="footer_title" style="text-transform: uppercase;">Télécharger l'application</p>
            <ul>
                <li style="background-color : #303639;" class="p-2 mb-2 d-flex align-items-center"><i class="fa-brands fa-google-play d-inline-block me-2" style='font-size:23px; margin-right:6px;'></i><span style='white-space:wrap;'>Obtenez le maintenant par <b>Google</b></span></li>
                <li style="background-color : #303639;" class="p-2 d-flex align-items-center"><i class="fa-brands fa-apple d-inline-block m-2" style='font-size:23px'></i><span style='white-space: normal;overflow: hidden;text-overflow: ellipsis;'>Obtenez le maintenant <b>Magasin d'applications</b></span></li>
            </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-4 populaire">
            <p class="footer_title">BALISES POPULAIRES</p>
            <div>
                <span class=" p-1">Jeu</span>
                <span class=" p-1">IPhone iPhone</span>
                <span class=" p-1">la télé</span>
                <span class=" p-1">Ordinateurs portables Asus</span>
                <span class=" p-1">Livre de MacBook</span>
                <span class=" p-1">SSD</span>
                <span class=" p-1">Parfois graphique est</span>
                <span class=" p-1">Banque de puissance</span>
                <span class=" p-1">Téléviseur intelligent</span>
                <span class=" p-1">Conférencier</span>
                <span class=" p-1">Tablette</span>
                <span class=" p-1">Quatre micro onde</span>
                <span class=" p-1">Samsung Samsung</span>
            </div>
        </div>
    </div>
    <div class="hr w-100" style="height: 1px;"></div>
</section>


{% endblock %}
